html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: Poppins !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border-bottom: 1px solid rgba(238, 238, 238, 10%);
}

.logo img {
    height: 30px;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

.navbar-menu a {
    display: flex;
    text-decoration: none;
    color: #EEEEEE;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
}

.navbar-menu a:hover {
    color: #00ADB5;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    color: #EEEEEE;
    font-size: 96px;
}

.hero-text h1 span{
    color: #00ADB5;
}

.hero-button {
    display: flex;
    gap: 20px;
}

/* .hero-button button{
    color: #EEEEEE;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
} */

button{
    color: #EEEEEE;
    border-radius: 25px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #00ADB5;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-hire {
    background-color: #00ADB5;
    border: 1px solid #00ADB5;
}

.btn-hire:hover {
    background-color: rgba(57, 70, 50, 50%);
}

.btn-download {
    background-color: rgba(57, 70, 50, 50%);
    border: 1px solid #393E46;
}

.btn-download:hover {
    border: 1px solid #00ADB5;
}

.hero-img {
    width: 400px;
}

/* About Me */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.about-me-text {
    color: #EEEEEE;
    font-size: 18px;
}

.about-me-text h1 {
    color: #EEEEEE;
    font-size: 64px;
    font-weight: 700;
}

.about-me-text h1 span{
    color: #00ADB5;
}

.about-me-text span{
    font-weight: 700;
}

/* My Works */

.my-work {
    width: 100%;
}

.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/statics/projects-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 80px;
}


/* .work-bg-img {
    max-width: 100px;
} */

.my-work-title h1 {
    color: #EEEEEE;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

.my-work-title h1 span{
    color: #00ADB5;
}

.category-btn.active {
    background-color: #00ADB5;
}

.category-btn {
    background-color: rgba(57, 70, 50, 50%);
    border: 1px solid #393E46;
}

.category-card {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    margin: 30px; */
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57, 70, 50, 50%);
    border-radius: 25px;
    width: 30%;
    padding: 20px;
}

.iteam-card {
    width: 70%;
    height: 100%;
}

/* Get In Touch */

.contact-form {
    padding: 20px ;
}

.from-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #EEEEEE;
    width: 50%;
    gap: 20px;
}

.from-content.form-content-textarea {
    width: 100%;
}

.from-user-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    gap: 30px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 100px;
    padding: 80px;
}

.contact-text h1{
    color: #EEEEEE;
    font-size: 64px;
    font-weight: 700;
}

.contact-text h1 span {
    color: #00ADB5;
}

.contact-text .end-img {
    display: flex;
    justify-content: flex-end;
}

/* .contact button {
    background-color: #00ADB5;
    color: #EEEEEE;
    border-radius: 25px;
    padding: 10px 50px;
    padding: 0;
    margin: 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #00ADB5;
} */


.send-btn {
    background-color: #00ADB5;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.from-content input {
    background-color: #393E46;
    border: 1px solid #393E46;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: rgba(238, 238, 238, 50%)
}

textarea {
    background-color: #393E46;
    border: 1px solid #393E46;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    height: 150px;
    width: 100%;
}

/* Footer Section */

.footer-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-navbar-iteams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}

.footer-navbar-iteams img{
    margin: 10px;
}

.footer-navbar-iteams p a{
    color: #EEEEEE;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-iteams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.terms-condition {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #EEEEEE;
    opacity: 75%;
}

.terms-condition p {
    padding: 20px 80px;
}


/* responsive media query starts here */

